:root {
	--clr-black: hsla(220, 48%, 26%, 1);
	--clr-accent: hsla(222, 82%, 70%, 1);
	--clr-white: hsla(206, 62%, 95%, 1);
	--clr-comp: hsla(24, 91%, 62%, 1);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	border: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

section,
header,
footer {
	padding: 2em 4em;
	background-color: var(--clr-white);
}

h2 {
	font-size: x-large;
	margin: 2em;
	color: var(--clr-black);
	text-align: center;
}

button {
	background: transparent;
	border: none;
	font-size: large;
	padding: 0.5em;
	color: var(--clr-white);
	border-radius: 0.5em;
}

input,
select,
textarea {
	font-size: medium;
	padding: 0.5em;
	color: var(--clr-white);
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 0.5em;
}

input::placeholder {
	color: var(--clr-white);
}

input:hover,
input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus,
button:hover,
button:focus {
	box-shadow: 0 0 1em var(--clr-white);
}

#nav-check {
	display: none;
}

.nav-icon {
	position: fixed;
	z-index: 1000;
	color: var(--clr-black);
	top: 1em;
	right: 1em;
	font-size: x-large;
	padding: 0.25em;
}

#nav-check:checked ~ label > .nav-icon {
	color: var(--clr-white);
}

nav {
	position: fixed;
	display: grid;
	height: 100vh;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	grid-template-rows: repeat(7, 1fr);
	transition: opacity 250ms ease-in-out;
	pointer-events: none;
	opacity: 0;
	z-index: 999;
}

#nav-check:checked ~ nav {
	pointer-events: all;
	opacity: 1;
}

nav::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transform: scaleX(0);
	transform-origin: left;
	background-color: var(--clr-black);
	transition: transform 250ms ease-in-out;
	z-index: -1;
}

#nav-check:checked ~ nav::before {
	transform: scaleX(1);
}

.nav-link {
	display: flex;
	gap: 0.5em;
	align-items: center;
}

#stateSelect {
	max-width: 12em;
}

.icon {
	font-size: x-large;
	width: 1em;
	margin: 0.5em;
	color: var(--clr-white);
}

.icon:hover,
.icon:focus {
	color: var(--clr-accent);
}

@media (min-width: 768px) {
	.nav-icon {
		display: none;
	}

	nav {
		max-width: 4%;
		opacity: 1;
		pointer-events: all;
	}

	nav::before {
		transform: scaleX(4%);
	}

	nav:hover,
	nav:focus-within {
		max-width: 25%;
	}

	nav:hover::before,
	nav:focus-within::before {
		transform: scaleX(25%);
	}

	.nav-link {
		pointer-events: none;
	}

	nav:hover > .nav-link,
	nav:focus-within > .nav-link {
		pointer-events: all;
	}

	.nav-link > button,
	.nav-link > input,
	.nav-link > select {
		opacity: 0;
		transition: opacity 250ms ease-in-out;
	}

	nav:hover > .nav-link > button,
	nav:focus-within > .nav-link > button,
	nav:hover > .nav-link > input,
	nav:focus-within > .nav-link > input,
	nav:hover > .nav-link > select,
	nav:focus-within > .nav-link > select {
		opacity: 1;
	}
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
	background-color: var(--clr-black);
	color: var(--clr-white);
	padding: 1em;
}

footer > p > a {
	color: var(--clr-accent);
}
