h2 {
	margin: 0;
}

.review {
	min-width: 80%;
	margin-block: 2em;
	transform: translateX(100px);
	opacity: 0;
	transition: 150ms;
}

.review.visible {
	transform: translateX(0);
	opacity: 1;
}

.tile {
	width: 100%;
}

img {
	width: 2em;
	height: 2em;
}

.rating-stars {
	color: var(--clr-black);
}

.checked {
	color: var(--clr-comp);
}

.thumbsup-count {
	display: inline;
}

.review-footer {
	width: 100%;
	justify-content: space-around;
}
