*{
  padding:0;
  margin:0;
  font-family: 'Roboto';
}

.main{
    width:100%;
    height: auto;
    background-color: #C2EDCE;
}

header{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 1000;
  justify-content: space-between;
  background-color: #3a3a3a;
  display: flex;
  align-items: center;  
}
header .logo{
  color:rgb(240, 240, 240);
  font-size: 30px;
  font-family: Brandon Grotesque;
  line-height: 35px;
}
header .menu {
  display: flex;
  position: relative;
}
header .menu li{
  list-style: none;
  margin-left: 30px;
}
header .menu li a{
  text-decoration: none;
  color: rgb(240, 240, 240);
  font-family:  montserrat;
}
header .menu li a:hover{
  color: rgb(0, 255, 255);
  font-family: montserrat;
}
header .sticky {
  padding: 5px 100px;
  background-color:#3a3a3a;
}
header.sticky .menu li a{
  color:#fff;
  font-family: montserrat;
}
header.sticky .logo{
    color: #fff;
}

#bars{
  display: none;
}

.search{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 100px;
}

.bar{
  width:630px;
  padding: 12px;
  border-radius: 20px;
  border:none;
  outline: none;
  font-size:18px;
  box-shadow: 1px 1px 2px 2px #ccc;
  margin-bottom: 100px;
}

.footer{
   background-color: #53BAC1;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;

}

.content{
  padding: 20px;
  color:#fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.details{
  margin-left: 90px;
}

.head{
  padding-top: 20px;
}

.topApps{
    width:100%;
    height: 200%;
    background-color: #fff;
}

.container{
  
    margin-bottom: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:60px;
}

.card{
  
  border:black;
  width:75%;

  height: 500px;
  background-color: #C2EDCE;
}

.CardHeader{
  background-color: #53BAC1;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.CardHeader h1{
  font-size: 20px;
  color:#fff;
  padding-left:60px;
}

.line{
  color: #fff;
  width:300px;
}

.locationLogo{
  color: #fff;

}



@media(max-width:991px){
    header .menu{
      display: none;
    }

    header .menu.active{
      width: 100%;
      height: 100%;
      position: fixed;
      top: 35px;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #3a3a3a;
      opacity: 1;
      flex-direction: column;
      transition: all 0.5s;
    }
   
    header .menu li a{
      font-size: 2.2em;
      line-height: 100px;
      color:white;
      font-family: montserrat;
    }
    #bars{
      display: block;
      color:#fff;
    }
    .menuToggle{

      position: relative;
      font-size: 30px;
      color: #111;
    }
    .menuToggle.active{
      background:url(close.png);
      height: 20px;
      width: 20px;
      font-size: 0px;
      background-position: center;
    }.ContactUs{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
   
}
.formContact{
  width: 50%;
  text-align: center;
   margin-top: 100px;
   margin-bottom: 100px;

  }
  .about{
    width: 100%;
  }
}




.carousel {
  background:#C2EDCE;
  margin-top:60px;
  
}

.carousel-cell {
  width: 50%;
  height: 320px;
  margin-right: 50px;
  margin-left:50px;
  margin-top: 50px;
  background:  #53BAC1;
  border-radius: 5px;
 
}

.carousel-cell.is-selected {
  background: #53BAC1;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
 
  line-height: 200px;
  font-size: 80px;
  color: white;
}


.serviceImage{
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background-color: #fff;
     margin-right:30px;
}
.serviceName{
     margin-top: 10px;
}
.top{
     font-size:20px;
}
.cardService{
     display: flex;
     flex-direction: row;
     padding: 15px;
}

.serviceType{
     text-align: center;
     font-size: 20px;
}
.CardHeaderCon{
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #53BAC1;
  padding: 30px;
}
.headCon{
  text-align: center;
}
h1{
  color: #fff;

}
.contact{
  width: 100%;
  height: auto;
  background-color: #C2EDCE
}


      .ContactUs{
  display: flex;
  
  padding-top: 5%;
  flex-wrap: wrap;
}
.about{
  width: 50%;
  text-align: center;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.aboutContent{
  width: 50%;

}
.formContact{
  width: 50%;
  text-align: center;
}
.Form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
input{
  width:50%;
  margin-bottom:30px;
  padding:10px;
  outline: none;
  border:none;
  border-radius: 10px;
}
textarea{
  width: 50%;
  padding:10px;
  outline: none;
  border:none;
  border-radius: 10px;
}
.formBtn{
  margin-top: 30px;
  padding: 10px;
  width:20%;
  background-color: #53BAC1;
  outline: none;
  border:none;
}