.topnav {
    background-color: #53BAC1;
    width:100%;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
}


/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: center;
    padding: 6px;
    border: none;
    margin: 16px;
    font-size: 17px;
    background-color: #C2EDCE;
  }
hr{
  width: 500px;
}
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 15px ;
  
  height: 8%;
  margin: 10px 10px 10px 10px;
  text-align: left;
  font-family: arial;
  background-color:  #C2EDCE;
  width: 65%;
  display: flex;
  justify-content: space-between;
}
.card1 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: black;
    background-color:#53BAC1;
    text-align: center;
    cursor: pointer;
    width: 105%;
    font-size: 12px;
    font-weight: bold;
    width:150px;

  }
  
.card1 button:hover {
    opacity: 0.5;
}

* {
    box-sizing: border-box;
  }
  
body {
  font-family: Arial;
  margin: 0 auto; /* Center website */
  width: 100%; /* Max width */
  padding: 0;
  background-color:white;

}

.heading {
    font-size: 25px;
    margin-right: 25px;
  }

.fa {
  font-size: 25px;
}


/* Three column layout */
.side {
  float: center;
  width: 40%;
  margin-top:-10px;
  padding: 10px;
 
}

.app{
  padding: 10px;
  /* float: right; */
  display: flex;
  flex:auto;
  flex-direction: row;
  margin-left: 8em;
  /* margin-right: -8em; */
}
.middle {
  margin-top:-10px;
  float: right;
  width: 50%;
  margin-right: 60px;

}

/* Place text to the right */
/*.right {
  text-align: right;
}*/

.dot {
    height: 65px;
    width: 65px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.Container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header{
  z-index: 100;
  top:0;
  left:0;
  width: 100%;
  background-color: #3A3A3A;
  padding:10px 20px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo{
  color:#FFF;
}
header .navlinks{
  list-style: none;
  display: flex;
  position: relative;
}
header .navlinks li{
  margin-left: 20px;
}
header .navlinks li a{
  text-decoration: none;
  color:#fff;
}
@media screen and (max-width: 1200px) {
  .Container, .card1 , .app  {
    width: 100%; 
  }

@media screen and (max-width: 600px) {
   .right , .dot  {
      width: 100%; 
    }