
  *{
  padding:0;
  margin:0;

}
body{
  background-color: #C2EDCE;
}
.boxed{
  background-color: #343434;
  border: 1px solid green ;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  //margin-top:50px;
}

main{
  
  
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #C2EDCE;
}

.container {
    background-color: #53BAC1;
    //border: 5px solid orange;
    padding: 20px;
    margin: 20px;
    margin-top: 100px;

}

/* for stars in rating section */

txt-center {
  text-align: center;
}

.hide {
  display: none;
}

.clear {
  float: none;
  clear: both;
}

.rating {
  width: 90px;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  position: relative;
}

.rating > label {
  float: right;
  display: inline;
  padding: 0;
  margin: 0;
  position: relative;
  width: 1.1em;
  cursor: pointer;
  color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
  color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: #FFD700;
}

/*header*/
header{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  //padding: 20px 100px ;
  z-index: 100;
  justify-content: space-between;
  background-color: #3a3a3a;
  display: flex;
  align-items: center;  

}

header .logo{
  color:#fff;
  font-size: 30px;
  font-family: Brandon Grotesque;
  line-height: 35px;
}
header .menu {
  display: flex;
  position: relative;
    
}
header .menu li{
  list-style: none;
  margin-left: 30px;
}
header .menu li a{
  text-decoration: none;
  color: #fff;
  font-family:  montserrat;
}
header .menu li a:hover{
  color: #000;
   font-family: montserrat;
}
header.sticky{
  //padding: 5px 100px;
  background-color:#3a3a3a;
}
header.sticky .menu li a{
  color:#fff;
  font-family: montserrat;
}
header.sticky .logo{
    color: #fff;
}


/*prefernce*/
.otherRec{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.productImage{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: : 20px;
}
.productName{
  margin-left: 30px;
}
.productCard{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
