*{
  padding:0;
  margin:0;
  font-family: 'Roboto';
  box-sizing: border-box;
}

.main{
    width:100%;
    height: 100vh;
    background-color: #C2EDCE;
}


.a{
  text-decoration: none;
}


 .searchField{
  display: flex;
  padding-top: 100px;
  justify-content: center;
  align-items: center;
 }

.formFields{
  display: flex;
  flex-direction: row;
  margin-right:3px;
  justify-content: center;
  align-items: center;

}
.field{
  width: 302px;

}
.filter{
    width:149px;
    margin: 0;
}

.Box{
  margin-right: 3px;
  padding: 15px;
  outline: none;
  border:none;
  margin-left:0;
}
.Box1{
  margin-right: 0px;
  
}
.vl{
  
  height: 33px;
  margin-top: 5px;
  background-color: white;
}

.blocks{
  display: flex;
  flex-direction: row;
}

.search{
  width:80px;
  padding: 15px;
  outline: none;
  border:none;
}
.searchbar{
  display: none;
}


.BoxGenre{
  text-align: center;
  padding: 6.5px;
  outline: none;
  border-left:1px solid black;
}



.content{
  padding: 20px;
  color:#fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.details{
  margin-left: 90px;
}

.head{
  padding-top: 20px;
}

.topApps{
    width:100%;
    height: 200%;
    background-color: #fff;
}

.container{
  
    margin-bottom: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:60px;
}

.card{
  
  border:black;
  width:75%;

  height: auto;
  min-height:600px;
  background-color: #C2EDCE;
}

.CardHeader{
  background-color: #53BAC1;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.CardHeader h1{
  font-size: 20px;
  color:#fff;
  padding-left:60px;
}

.line{
  color: #fff;
  width:300px;
}

.locationLogo{
  color: #fff;

}



@media(max-width:991px){
    
    .ContactUs{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .counterContent{
      flex-direction: column;
    }
    .box{
      border-bottom: #fff solid ;
      
     }
   .searchField{
      flex-direction: column;
      width: 100%;
     }
     .field{
      width: 302px;
     }
     .formFields{
      display: flex;
      flex-direction: column;
      max-width: 336px;
   }
   .choose{
    display: flex;
    flex-direction: row;

   }
   .Box{
    width: 100%;
    margin-bottom: 3px;
   }
   .filter{
    width:50%;
    
   }
   .Box1{
    margin-right: 6px;
   }
   .search{
    max-width: 100%;
    width:336px;
   }
   .searchbar{
    display: block;
   }
   .icon{
    display: none;
   }


  
   
}
.formContact{
  width: 50%;
  text-align: center;
   margin-top: 100px;
   margin-bottom: 100px;

  }
  .about{
    width: 100%;
  }
}




.carousel {
  background:#C2EDCE;
  margin-top:80px;
  
}

.carousel-cell {
  width: 50%;
  height: auto;
  min-height: 320px;
  max-height:400px;
  margin-right: 50px;
  margin-left:50px;
  margin-top: 50px;
  background:  #53BAC1;
  border-radius: 5px;
 
}

.carousel-cell.is-selected {
  background: #53BAC1;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
 
  line-height: 200px;
  font-size: 80px;
  color: white;
}


.serviceImage{
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background-color: #fff;
     margin-right:30px;
}
.serviceName{
     margin-top: 10px;     
}

.top{
     font-size:20px;
}
.cardService{
     display: flex;
     flex-direction: row;
     padding: 15px;
}

.serviceType{
     text-align: center;
     font-size: 20px;
}
.CardHeaderCon{
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #53BAC1;
  padding: 30px;
}
.headCon{
  text-align: center;
}
h1{
  color: #fff;

}
.contact{
  width: 100%;
  height: auto;
  background-color: #C2EDCE
}


.ContactUs{
  display: flex;
  
  padding-top: 5%;
  flex-wrap: wrap;
}
.about{
  width: 50%;
  text-align: center;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.aboutContent{
  width: 50%;

}
.formContact{
  width: 50%;
  text-align: center;
}
.Form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.Form input{
  width:50%;
  margin-bottom:30px;
  padding:10px;
  outline: none;
  border:none;
  border-radius: 10px;
}
textarea{
  width: 50%;
  padding:10px;
  outline: none;
  border:none;
  border-radius: 10px;
}
.formBtn{
  margin-top: 30px;
  padding: 10px;
  width:20%;
  background-color: #53BAC1;
  outline: none;
  border:none;
  border-radius: 25px;
}
.foot{
  width: 100%;
  background-color:#111;

  color:grey;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
  padding-top: 20px;
  padding-bottom: 20px;
}


.userCard{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.users hr{
  width:80%;
}

.userinfo{
  margin:30px 10px;
}
.userinfo2{
  margin:10px 10px;
  color:black;
}
.userinfo3{
  margin:5px 20px;
  font-size:15px;
  color:black;
}
.topCard {
  font-size:  18px;
}
.topCard h1{
  font-size: 35px;
  color: black;
}
.userImg{
     width: 50px;
     height: 50px;
     border-radius: 50%;
     background-color: #fff;

}
.userImg2{
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background-color: #fff;
}
.userImg3{
      width: 30px;
     height: 30px;
     border-radius: 50%;
     background-color: #fff;
}
.name{
  width: 250px;
}
.usercell{
  min-height: 380px;
}

.counterup{
  background-color: #3A3A3A;
  min-height: 25vh; 
  width:100%;
  
}

.counterup .counterContent{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 0px;
}

.counterContent .box{
  width:200px;
 
  padding: 10px;
  margin: 40px;
  color:#fff;
  line-height: 30px;
}
.icon{
  font-size:40px;
}
.counter{
  font-size: 38px;
  margin: 20px;
}

.formBtn1{
  margin: auto;
  padding: 10px;
  width: 75 px;
  background-color: #53BAC1;
  outline: none;
  border:none;
  border-radius: 25px;
  /* border-radius: 10px; */
}

.Form .applink{
  width: 500px;
  text-align: center;
  margin-bottom:30px;
  padding:10px;
  outline: none;
  border:none;
  border-radius: 10px;
}