body{
  overflow: hidden;
}

.pre-loader{
  border: 1px solid #ECF0F1;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ECF0F1;
  z-index: 9999;
}
.pre-loader div{
  border:0;
  margin:0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  position:absolute;
  border-radius:50%;
  animation:spin 2s ease infinite;
  z-index: 10000;
}

.pre-loader :first-child{background:#19A68C;animation-delay:-1.5s}
.pre-loader :nth-child(2){background:#F63D3A;animation-delay:-1s}
.pre-loader :nth-child(3){background:#FDA543;animation-delay:-0.5s}
.pre-loader :last-child{background:#193B48}

@keyframes spin{
  0%,100%{transform:translateX(200%)}
  25%{transform:translateY(200%)}
  50%{transform:translateX(0)}
  75%{transform:translateY(0)}
}