.topnav{
  text-align: center;;
}
hr{
width: 500px;
}


* {
  box-sizing: border-box;
  font-family: Arial;
  margin: 0 ; /* Center website */
  padding: 0;
  
}



.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
font-size: 25px;
}
.searchButton{
  padding:4px;
  border:none;
}
.navButton{
  padding: 2.5px !important;
}
.Contain{
width:100%;
}
.searchCard{
width:70%;
height:auto;
display: flex;
flex-direction: row;
background-color: #C2EDCE;
padding:20px;
margin-top:40px;
border-radius:8px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.appName{
width:50%;
float:left;
padding-top: 20px;
display: flex;
align-items: center;
flex-direction: column;

}
.appImg{
 float:right;
 width:40%;
 display: flex;
 flex-direction: column;
 align-items: center;
}
.Btns{
display: flex;
flex-direction: row;
}
.btn{
border:none;
outline: none;
background-color: #53BAC1;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
margin: 20px;
}
.btn:hover{
background-color: aqua;
}
.dotImg{
height: 65px;
  width: 65px;
  background-color: #bbb;
  border-radius: 50%;
}
.Container{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width:100%;
}
.formSearch{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width:100%;
margin-top:100px;
}
.formFields{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width:80%;
}
.search{
background-color: aliceblue;

padding:5px;
border:1px #333 solid;
}
.Box{
padding:7px;
margin-left:2px;


}
.filterBox{
text-align:left;
width:200px;
padding:4px;
overflow: hidden;
margin-top:15px;
margin-right: 0;
}

.filterBox p{
border:#000 solid 1px;
position:relative;
transition:all 1s ease;
padding:5px;
cursor:pointer; 
}
.filterBox p:after{
content:"+";
position:absolute;
 right:10px;
}
.filterBox .filter{
display: none;
}
.filterIcon{
  display: none;
}
.activefilter p:after{content:"-" !important;}


.activefilter .filter{
display:block;
z-index: 1;
position: absolute;
width:200px;
margin:5px;
padding-left:10px;
background-color:white;
opacity:1;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);


}

.selectGenreBox{
  text-align:left;
  width:200px;
  padding:4px;
  overflow: hidden;
  margin-top:15px;
  margin-right: 0;
  }
  
  .selectGenreBox p{
  border:#000 solid 1px;
  position:relative;
  transition:all 1s ease;
  padding:5px;
  cursor:pointer; 
  }
  .selectGenreBox p:after{
  content:"+";
  position:absolute;
   right:10px;
  }
  .selectGenreBox .filter{
  display: none;
  }
  .activeGenre p:after{content:"-" !important;}

  .activeGenre .filter{
    display:block;
    z-index: 1;
    position: absolute;
    width:200px;
    margin:5px;
    padding-left:10px;
    background-color:white;
    opacity:1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
    
    }
  
.paging{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
.Container {
  width: 100%; 
}
}
@media screen and (max-width: 600px) {
 
  .filterBox{
    display: none;
  }
  .fa{
    font-size: 18px;
  }
  .filterIcon{
    display: block;
    padding-left:4px;
  }
  .filter{
    display: none;
  }
  .topFilter{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top:120px;
    margin-left:20px;
  }
  .searchCard{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .appName{
    width:100%;
  }
  .appImg{
    width:100%;
  }
  
       
  
}