.topnav {
    
    width:100%;
    margin-top: 30px;
    padding: 100px;
    text-align: center;
}


/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: center;
    padding: 6px;
    border: #000 solid 1px;
    margin: 16px;
    font-size: 17px;
   
  }
hr{
  width: 500px;
}


* {
    box-sizing: border-box;
  }
  
body {
  font-family: Arial;
  margin: 0 auto; /* Center website */
  width: 100%; /* Max width */
  padding: 0;
  background-color:white;

}

.heading {
    font-size: 25px;
    margin-right: 25px;
  }

.fa {
  font-size: 25px;
}

.Contain{
  width:100%;
}
.searchCard{
  width:70%;
  height:auto;
  display: flex;
  flex-direction: row;
  background-color: #C2EDCE;
  padding:20px;
  margin-top:40px;
  border-radius:8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.appName{
  width:50%;
  float:left;
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;

}
.appImg{
   float:right;
   width:40%;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.Btns{
  display: flex;
  flex-direction: row;
}
.btn{
  border:none;
  outline: none;
  background-color: #53BAC1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
}
.btn:hover{
  background-color: aqua;
}
.dotImg{
  height: 65px;
    width: 65px;
    background-color: #bbb;
    border-radius: 50%;
}
.Container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
}
.formSearch{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}
.formFields{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search{
  background-color: aliceblue;
  width:400px;
}
.Box{
  padding:7px;
  margin-left:2px;
  
  
}
.filterBox{
  text-align:left;
  width:200px;
  padding:6px;
  overflow: hidden;
  margin-top:16px;
  margin-right: 0;
}

.filterBox p{
  border:#000 solid 1px;
  position:relative;
  transition:all 1s ease;
  padding:5px;
  cursor:pointer; 
}
.filterBox p:after{
  content:"+";
  position:absolute;
   right:10px;
}
.filterBox .filter{
  display: none;
}
.activefilter p:after{content:"-" !important;}


.activefilter .filter{
  display:block;
  z-index: 1;
  position: absolute;
  width:200px;
  margin:5px;
  padding-left:10px;
  background-color:white;
  opacity:0.7;
  
}

@media screen and (max-width: 1200px) {
  .Container {
    width: 100%; 
  }
}
@media screen and (max-width: 600px) {
   .right , .dot  {
      width: 100%; 
    }
    .Container {
      width: 100%; 
    }
  }