{%load static%}
<!DOCTYPE html>
<html>
<head>
	<title></title>
     <link rel="stylesheet" type="text/css" href="{%static 'navbar.css'%}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
	{%block headtag%}
     
	{%endblock%}
</head>
<body>
  <header>
    <div  class="logo">LOGO</div>
    <div class="menuToggle" onclick="toggle()" id="bars">
        <em class="fa fa-bars"></em>
    </div>
    <ul class="menu">
      <li ><a class="cool-link" href="#main">HOME</a></li>
      <li ><a class="cool-link" href="/login">LOGIN</a></li>
      <li ><a class="cool-link" href="#contact">CONTACT US</a></li>
    </ul>
  </header>

    {%block content%}
    {%endblock%}
    <script type="text/javascript">
     window.addEventListener('scroll', function(){
      const header=document.querySelector('header');
      header.classList.toggle("sticky",window.scrollY > 0);
    });

    function toggle(){
      const menuToggle=document.querySelector('.menuToggle');
      const menu=document.querySelector('.menu');
      menuToggle.classList.toggle("active");
      menu.classList.toggle("active");
    }
    </script>
</body>
</html>