{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>HOME PAGE</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{%static 'home.css'%}">
</head>

<body>

  <header>
    <div  class="logo">LOGO</div>
    <div class="menuToggle" onclick="toggle()" id="bars">
        <em class="fa fa-bars"></em>
    </div>
    <ul class="menu">
      <li ><a href="#main">HOME</a></li>
      <li ><a href="/login">LOGIN</a></li>
      <li ><a href="#contact">CONTACT US</a></li>
    </ul>
  </header>

  <section class="main" id="main">
    <div class="searchWrapper">
        <div class="searchBox">
           <div  class="dropdown">
            <div class="default_options">All</div>
            <ul>
              <li >Travel and Local</li>
              <li>Food and restraunts</li>
              <li >Maps and navigaton</li> 
              <li>bla bla </li> 
            </ul>
            <i  onclick="filter()"class="fa fa-caret-square-o-down"></i> 
           </div>
            <div class="searchField">
            <form action="{% url 'front_search' %}" method="GET">
              <input type="text" placeholder="Search" name="search_query">
           </form>
             <i class="fa fa-search"></i>
           </div>
         </div>

        </div>
  </section>

  <section class="topApps" id="topApps">
    <div class="container">
      <div class="card ">
        <div class="CardHeader">
          <div>
            <h1>TOP SERVICES</h1>
            <hr class="line">
          </div>
          <div class="locationLogo">
            <em class="fas fa-location-arrow"  style='font-size:24px'></em>
          </div>
        </div>

        <div class="carousel" data-flickity='{ "groupCells": true }'>

          {% for genre, apps in best_apps.items %}
          <div class="carousel-cell ">
            <h2 class="serviceType">{{ genre }}</h2>
              <hr>

              {% for app in apps %}
              <div class="cardService">
                <a href="{% url 'front_search' %}?app_name={{ app.app_name }}">
                  <img class="serviceImage" src="{{ app.icon_link }}" alt="app icon">
                </a>
                <div class="serviceName top">
                  <p>{{ app.app_name }}</p>
                </div>
              </div>
              {% endfor %}

          </div>
          {% endfor %}

        </div>     
      </div>
    </div> 

    <div class="container">
      <div class="card">
        <div class="CardHeaderCon">
          <div class="headCon">
            <h1>CONTRIBUTORS</h1>
            <hr class="line">
          </div>

        </div>
         <div class="carousel" data-flickity='{ "groupCells": true }'>
              <div class="carousel-cell usercell">
                    <!--<h2 class="serviceType">TRAVEL</h2>
                          <hr>-->
                   <div class="userCard topCard">
                     <h1 class="userinfo">1.</h1>
                     <img  class="userImg userinfo"src="">
                     <p class="userinfo name">NAME HERE PLEASE give us your name</p>
                     <p class="userinfo">250 pts</p>
                   </div>
                    <div class="userCard topCard">
                     <h1 class="userinfo">2.</h1>
                     <img  class="userImg userinfo"src="">
                     <p class="userinfo name">NAME HERE</p>
                     <p class="userinfo">250 pts</p>
                   </div>
                    <div class="userCard topCard">
                     <h1 class="userinfo">3.</h1>
                     <img  class="userImg userinfo "src="">
                     <p class="userinfo name">NAME HERE</p>
                     <p class="userinfo">250 pts</p>
                   </div>
              </div>

                  <div class="carousel-cell usercell">
                    <div class="userCard ">
                     <h1 class="userinfo2">1.</h1>
                     <img  class="userImg2 userinfo2"src="">
                     <p class="userinfo2 name">NAME HERE PLEASE give us your name</p>
                     <p class="userinfo2">250 pts</p>
                   </div>
                    <div class="userCard ">
                     <h1 class="userinfo2">1.</h1>
                     <img  class="userImg2 userinfo2"src="">
                     <p class="userinfo2 name">NAME HERE PLEASE give us your name</p>
                     <p class="userinfo2">250 pts</p>
                   </div>
                   <div class="userCard ">
                     <h1 class="userinfo2">1.</h1>
                     <img  class="userImg2 userinfo2"src="">
                     <p class="userinfo2 name">NAME HERE PLEASE </p>
                     <p class="userinfo2">250 pts</p>
                   </div>
                   <div class="userCard ">
                     <h1 class="userinfo2">1.</h1>
                     <img  class="userImg2 userinfo2"src="">
                     <p class="userinfo2 name">NAME HERE PLEASE give us your name</p>
                     <p class="userinfo2">250 pts</p>
                   </div><div class="userCard ">
                     <h1 class="userinfo2">1.</h1>
                     <img  class="userImg2 userinfo2"src="">
                     <p class="userinfo2 name">NAME HERE PLEASE give us your name</p>
                     <p class="userinfo2">250 pts</p>
                   </div><div class="userCard ">
                     <h1 class="userinfo2">1.</h1>
                     <img  class="userImg2 userinfo2"src="">
                     <p class="userinfo2 name">NAME HERE PLEASE give us your name</p>
                     <p class="userinfo2">250 pts</p>
                   </div>
                  </div>
                  <div class="carousel-cell usercell">
                      <div class="userCard  ">
                        <h1 class="userinfo3">1.</h1>
                        <img  class="userImg3 userinfo3"src="">
                        <p class="userinfo3 name">NAME HERE PLEASE give us your </p>
                        <p class="userinfo3">250 pts</p>
                     </div>
                     <div class="userCard ">
                        <h1 class="userinfo3">1.</h1>
                        <img  class="userImg3 userinfo3"src="">
                        <p class="userinfo3 name">NAME HERE PLEASE give us your </p>
                        <p class="userinfo3">250 pts</p>
                     </div>
                      <div class="userCard ">
                        <h1 class="userinfo3">1.</h1>
                        <img  class="userImg3 userinfo3"src="">
                        <p class="userinfo3 name">NAME HERE PLEASE give us your </p>
                        <p class="userinfo3">250 pts</p>
                     </div>
                      <div class="userCard ">
                        <h1 class="userinfo3">1.</h1>
                        <img  class="userImg3 userinfo3"src="">
                        <p class="userinfo3 name">NAME HERE PLEASE give us your </p>
                        <p class="userinfo3">250 pts</p>
                     </div>
                      <div class="userCard ">
                        <h1 class="userinfo3">1.</h1>
                        <img  class="userImg3 userinfo3"src="">
                        <p class="userinfo3 name">NAME HERE PLEASE give us your </p>
                        <p class="userinfo3">250 pts</p>
                     </div>
                      <div class="userCard ">
                        <h1 class="userinfo3">1.</h1>
                        <img  class="userImg3 userinfo3"src="">
                        <p class="userinfo3 name">NAME HERE PLEASE give us your </p>
                        <p class="userinfo3">250 pts</p>
                     </div>
                      <div class="userCard ">
                        <h1 class="userinfo3">1.</h1>
                        <img  class="userImg3 userinfo3"src="">
                        <p class="userinfo3 name">NAME HERE PLEASE give us your </p>
                        <p class="userinfo3">250 pts</p>
                     </div>
                      <div class="userCard ">
                        <h1 class="userinfo3">1.</h1>
                        <img  class="userImg3 userinfo3"src="">
                        <p class="userinfo3 name">NAME HERE PLEASE give us your </p>
                        <p class="userinfo3">250 pts</p>
                     </div>

                    
                  </div>
                  
  
              </div>
      </div>
    </div>
  </section>

 

  <section class="contact" id="contact">
    <div class="ContactUs">
      <div class="about left">
        <h1 style='color:black ;margin-bottom: 20px;'>ABOUT US</h1>
        <p class="aboutContent">Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.</p>
      </div>
      <div class="formContact right">
        <h1 style='color:black;margin-bottom: 20px '>CONTACT US</h1>
        <form class="Form" action="{% url 'front_site_review' %}" id="site_review_form" method="POST">
          {% csrf_token %}
          <input type="text" name="user_name" placeholder="name">
          <input type="email" name="email_id" placeholder="email">
          <textarea placeholder="message" name="review" form="site_review_form"></textarea>
          <button class="formBtn" type="submit"> SUBMIT </button>
        </form>
      </div>
    </div>


    
    </section>
      <section class="foot">
      <p>No. of Apps reviewed: 65</p>
      <p>No. of users: 205</p>
      <p>No.of reviews: 300</p>
      <p>No. of views:10000+</p>
      <br>
      <p>copyright - all rights reserved</p>
    </section>

    <script type="text/javascript">
    window.addEventListener('scroll', function(){
      const header=document.querySelector('header');
      header.classList.toggle("sticky",window.scrollY > 0);
    });

    function toggle(){
    	const menuToggle=document.querySelector('.menuToggle');
    	const menu=document.querySelector('.menu');
    	menuToggle.classList.toggle("active");
    	menu.classList.toggle("active");
    }
    

    function filter(){
      const arrowToggle=document.querySelector('.dropdown ul');
      arrowToggle.classList.toggle("activeFilter");

    }
    
   $(document).ready(function(){
      $(".dropdown ul li").click(function(){
           var text= ($(this).text());
           $('.default_options').text(text);
      })
   })
    
  </script>
  
</body>
</html>