<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="login.css">
	<title>login</title>
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{%static 'login.css'%}">
</head>
    
<body>
    
    	<div class="container">
    		<div class="form">
    			<div class="header">
    				<h1>LOGIN</h1>
    			</div>
    			<div class="formBody">
    				<input class="formInput" type="text" name="user" placeholder ="username">
    				<input class="formInput" type="password" name="" placeholder="password">
    				<button>Submit</button>
    			</div>
    		</div>
    	</div>
    
</body>
</html>