<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{%static 'writeReview.css'%}">
    
    <!-- Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
    <title>Review Submission</title>
</head>

<body>
    <!-- nav bar -->
    <header>
       
        <div  class="logo">LOGO</div>
        <div class="menuToggle" onclick="toggle()" id="bars">
            <em class="fa fa-bars"></em>
        </div>
        <ul class="menu">
           <!-- <li ><a href="#main">HOME</a></li>
            <li ><a href="#topApps">TOP SERVICES</a></li>
            <li ><a href="#contributor">CONTRIBUTORS</a></li>
            <li ><a href="#contact">CONTACT US</a></li>-->

        </ul>
    </header>
    <!-- back arrow -->

    <main> 
        <!-- form -->
        <div class="container">

            <!-- form heading -->
            <!-- adding form tag-->
            <form action="{% url 'front_app_review' %}" method="POST" class="review-form" id="app_review_form">
                {% csrf_token %}
                    <!-- form heading -->
                    <div class="boxed" style="color: #ffffff;">
                        <h3>Review Form</h3>
                    </div>
        
                    <div class="row gy-4">
                        <!-- left column / up column-->
                        <div class="col-md-12 col-lg-6 gy-5"> 
                        <!-- for width < 1200px up-down configuration & left-right configuration otherwise-->
                            
                            <div class="input-group mb-3">
                                <span class="input-group-text">App Name</span>
                                <input type="text" class="form-control" name="app_name">
                            </div>
        
                            <div class="input-group">
                                <span class="input-group-text">Product Category</span>
                                <select class="form-select" onchange="gen(this.value);" id="select-it" form="app_review_form" name="genre">
                                    {% for genre in genres_queries %}
                                     {% comment %} {% if forloop.first %} {% endcomment %}
                                        {% comment %} <option selected = "selected" value="{{ genre }}"id="gen">{{ genre }}</option> {% endcomment %}
                                     {% comment %} {% else %} {% endcomment %}
                                       <option  value="{{ genre }}"id="{{ genre }}">{{ genre }}</option>
                                    {% comment %} {% endif %} {% endcomment %}
                                    {% endfor %}
                                </select>
                            </div>
        
                            <div class="row" style="margin-top:20px; margin-bottom: 10px;">
                                <div class="col-6" style="position: relative; left: 10px;">
                                    <h6>Rating</h6>
                                </div>
                                <div class="col-6">
                                    <div style="display: flex; justify-content: flex-end">
                                        <div class="txt-center">
                                            <div class="rating">
                                                <input id="star5" name="stars" type="radio" value="5" class="radio-btn hide" form="app_review_form"/>
                                                <label for="star5" >☆</label>
                                                <input id="star4" name="stars" type="radio" value="4" class="radio-btn hide" form="app_review_form"/>
                                                <label for="star4" >☆</label>
                                                <input id="star3" name="stars" type="radio" value="3" class="radio-btn hide" form="app_review_form"/>
                                                <label for="star3" >☆</label>
                                                <input id="star2" name="stars" type="radio" value="2" class="radio-btn hide" form="app_review_form"/>
                                                <label for="star2" >☆</label>
                                                <input id="star1" name="stars" type="radio" value="1" class="radio-btn hide" form="app_review_form"/>
                                                <label for="star1" >☆</label>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                
                            </div>
                            
                            <textarea form="app_review_form" name="app_review" class="form-control" rows="5" placeholder="How was your experience ... "></textarea>
                        </div>
                        <!-- right column / down column-->
                        <div class="col gy-5" >
                            <div class="row gy-4">
                           {% for genre, query_choices in genres_queries.items %}
                                    <div class="hide queryhide" id="{{genre}}_queries">
                                    {% for query, choices in query_choices.items %}
                                        <div class="row" style="padding: 1em;">
                                            <div class="col-6">
                                                <h6>{{ query }}</h6>
                                            </div>
                                            <div class="col-6">
                                                <select class="form-select" form="app_review_form" name="{{ query }}">
                                                    {% for choice in choices %}
                                                    <option>{{ choice }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                         {% endfor %}
                                    </div>
                                   
                                {% endfor %}
                            </div>   
                        </div>
                         <!-- submit button -->
                        <div style="display: flex; margin-top: 20px;">
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button class="btn btn-primary" type="button submit" value="submit">Submit Review</button>
                            </div>
                        </div>
                    </div>
            </form>
        </div>


        <div class="container">
            <!-- similar products -->
            <h1>SIMILAR PRODUCT</h1>
              <div class= "otherRec">
                <div class="similar">
                    <p>SIMILAR SERVICES</p>
                    <div class="productCard">
                        <div class="productImage">
                        </div>
                        <div class="productName">
                            <p>service name</p>
                        </div>
                    </div>
                        <div class="productCard">
                            <div class="productImage">
                            </div>
                            <div class="productName">
                                <p>service name</p>
                        </div>
                    </div>
                        <div class="productCard">
                            <div class="productImage">
                            </div>
                            <div class="productName">
                                <p>service name</p>
                        </div>
                    </div>

                </div>
                <div class="customer">
                    <p>CUSTOMER ALSO PREFER</p>
                    <div class="productCard">
                        <div class="productImage">
                        </div>
                        <div class="productName">
                            <p>service Name</p>
                        </div>
                    </div>
                    <div class="productCard">
                        <div class="productImage">
                        </div>
                        <div class="productName">
                            <p>service name</p>
                        </div>
                    </div>
                    <div class="productCard">
                        <div class="productImage"></div>
                        <div class="productName">
                            <p>service name</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript">
        function gen(genre) {
            var s = document.getElementsByClassName("queryhide");
            for(var i=0;i<s.length;i++)
            {
                s[i].style.display="none";
            }
          var elements = document.getElementById(genre+"_queries");
          elements.style.display = "block";
        }
    </script>
</body>
</html>