{% extends 'basePage.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/appInfoPage.css' %}" />
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
{% endblock %}

{% block body %}
<section>
    <div class="app flex-col card">
        <div class="app-header-card flex-col tile">
            <div class="app-info flex-row">
                <img src="{{ icon }}" alt="{{ title }}">
                <div class="app-info-text">
                    <h1 class="app-name">{{ title }}</h1>
                    <p class="app-desc">{{ summary }}</p>
                </div>
            </div>
            <div class="app-info-btns flex-row">
                <a href="#review-form"><button class="btn">Review</button></a>
                <a href="{{ url }}" target="_blank"><button class="btn">Download</button></a>
            </div>
        </div>
        <div class="rating flex-row">
            <div class="avg-rating flex-col">
                <h1 class="avg-rating-value">{{ score }}</h1>
                <div class="rating-stars">
                    {% if score >= 1 %}
                    <span class="fa fa-star checked"></span>
                    {% else %}
                    <span class="fa fa-star"></span>
                    {% endif %}
                    {% if score >= 2 %}
                    <span class="fa fa-star checked"></span>
                    {% else %}
                    <span class="fa fa-star"></span>
                    {% endif %}
                    {% if score >= 3 %}
                    <span class="fa fa-star checked"></span>
                    {% else %}
                    <span class="fa fa-star"></span>
                    {% endif %}
                    {% if score >= 4 %}
                    <span class="fa fa-star checked"></span>
                    {% else %}
                    <span class="fa fa-star"></span>
                    {% endif %}
                    {% if score == 5 %}
                    <span class="fa fa-star checked"></span>
                    {% else %}
                    <span class="fa fa-star"></span>
                    {% endif %}
                </div>
                <div class="rating-stats flex-row">
                    <span class="user-icon fa fa-users"></span>
                    <h2 class="review-count">{{ installs }}</h2>
                </div>
            </div>
            <div class="rating-graph">
                <div class="rating-row flex-row">
                    <span class="rating-value">5</span>
                    <div class="rating-bar" style="width: {% widthratio histogram.4 ratings 100 %}%;"></div>
                </div>
                <div class="rating-row flex-row">
                    <span class="rating-value">4</span>
                    <div class="rating-bar" style="width: {% widthratio histogram.3 ratings 100 %}%;"></div>
                </div>
                <div class="rating-row flex-row">
                    <span class="rating-value">3</span>
                    <div class="rating-bar" style="width: {% widthratio histogram.2 ratings 100 %}%;"></div>
                </div>
                <div class="rating-row flex-row">
                    <span class="rating-value">2</span>
                    <div class="rating-bar" style="width: {% widthratio histogram.1 ratings 100 %}%"></div>
                </div>
                <div class="rating-row flex-row">
                    <span class="rating-value">1</span>
                    <div class="rating-bar" style="width: {% widthratio histogram.0 ratings 100 %}%"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="user-reviews flex-col">
        <div class="review-body flex-col" id="playstore-reviews">
            <h1>Curated Playstore Reviews</h1>
            <div class="main-carousel"
                data-flickity='{"contain": true, "pageDots": false, "groupCells": false, "wrapAround": true}'>
                {% for review in playstore_reviews %}
                <div class="carousel-cell">
                    <div class="review-content card flex-col">
                        <img src="{{ review.userImage }}" alt="user-image">
                        <h2>{{ review.userName }}</h2>
                        <div class="rating-stars">
                            {% if review.score >= 1 %}
                            <span class="fa fa-star checked"></span>
                            {% else %}
                            <span class="fa fa-star"></span>
                            {% endif %}
                            {% if review.score >= 2 %}
                            <span class="fa fa-star checked"></span>
                            {% else %}
                            <span class="fa fa-star"></span>
                            {% endif %}
                            {% if review.score >= 3 %}
                            <span class="fa fa-star checked"></span>
                            {% else %}
                            <span class="fa fa-star"></span>
                            {% endif %}
                            {% if review.score >= 4 %}
                            <span class="fa fa-star checked"></span>
                            {% else %}
                            <span class="fa fa-star"></span>
                            {% endif %}
                            {% if review.score == 5 %}
                            <span class="fa fa-star checked"></span>
                            {% else %}
                            <span class="fa fa-star"></span>
                            {% endif %}
                        </div>
                        <p class="review-text tile">{{ review.content }}</p>
                        <div class="tile">
                            <span class="fa fa-thumbs-up playstore-thumbsup"></span>
                            <h3 class="thumbsup-count">{{ review.thumbsUpCount }}</h3>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% if reviews %}
        <div class="review-body flex-col" id="slg-reviews">
            <h1>Curated SLG Reviews</h1>
            <div class="main-carousel"
                data-flickity='{"contain": true, "pageDots": false, "groupCells": false, "wrapAround": true}'>
                {% for review in reviews %}
                <div class="carousel-cell">
                    <div class="review-content card flex-col">
                        <h2>{{ review.username }} from {{ review.city }}, {{ review.state }}</h2>
                        <div class="rating-stars">
                            {% if review.rating >= 1 %}
                            <span class="fa fa-star checked"></span>
                            {% else %}
                            <span class="fa fa-star"></span>
                            {% endif %}
                            {% if review.rating >= 2 %}
                            <span class="fa fa-star checked"></span>
                            {% else %}
                            <span class="fa fa-star"></span>
                            {% endif %}
                            {% if review.rating >= 3 %}
                            <span class="fa fa-star checked"></span>
                            {% else %}
                            <span class="fa fa-star"></span>
                            {% endif %}
                            {% if review.rating >= 4 %}
                            <span class="fa fa-star checked"></span>
                            {% else %}
                            <span class="fa fa-star"></span>
                            {% endif %}
                            {% if review.rating == 5 %}
                            <span class="fa fa-star checked"></span>
                            {% else %}
                            <span class="fa fa-star"></span>
                            {% endif %}
                        </div>
                        <p class="review-text tile">{{ review.content }}</p>
                        <div class="review-votes flex-row votingForm">
                            <form action="{% url 'api_up_vote_app' appId review.pk %}" class="upVoteForm" method="POST">
                                {% csrf_token %}
                                <button class="upVoteBtn">
                                    <span class="fa fa-thumbs-up"></span>
                                    <h3 class="thumbsup-count">{{ review.up_votes }}</h3>
                                </button>
                            </form>
                            <form action="{% url 'api_down_vote_app' appId review.pk %}" class="downVoteForm"
                                method="POST">
                                {% csrf_token %}
                                <button class="downVoteBtn">
                                    <span class="fa fa-thumbs-down"></span>
                                    <h3 class="thumbsup-count">{{ review.down_votes }}</h3>
                                </button>
                            </form>
                            <a href="{% url 'front_user' review.username %}"><button>Go To User</button></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</section>
<section>
    <div class="similar-apps flex-col" id="similar-apps">
        <h1>Similar Apps</h1>
        <div class="similar-apps-card flex-row card">
            <div class="main-carousel" data-flickity='{"pageDots": false, "wrapAround": true}'>
                {% for app in similar_apps %}
                <div class="carousel-cell">
                    <a href="{% url 'front_get_app' app.app_id %}">
                        <button class="similar-app-button flex-col">
                            <img src="{{ app.icon_link }}" alt="{{ app.app_name }}">
                            <p>{{ app.app_name }}</p>
                        </button>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section>
    <div class="review-form flex-col" id="review-form">
        <h1>Wish to review this app?</h1>
        <form action="{% url 'front_get_app' appId %}" method="POST" class="review-form-card flex-col card">
            {% csrf_token %}
            <textarea class="review-form-text" row="5" placeholder="Your review of this application..."
                name="content"></textarea>
            <div class="review-form-queries flex-col">
                <div class="review-form-options flex-row">
                    <div class="review-state-city flex-row">
                        <p>Location:</p>
                        <div class="state-city-btns flex-row">
                            <select name="state" id="stateSelect" required>
                                <option value="">Select State</option>
                            </select>
                            <select name="city" id="citySelect" required>
                                <option value="">Select City</option>
                            </select>
                        </div>
                    </div>
                    <div class="review-form-rating flex-row">
                        <p>Rating:</p>
                        <div class="review-form-rating-stars">
                            <input type="radio" id="star-5" name="rating" value="5" class="review-form-rating-btn"
                                required>
                            <label for="star-5"><span class="fa fa-star star"></span></label>
                            <input type="radio" id="star-4" name="rating" value="4" class="review-form-rating-btn"
                                required>
                            <label for="star-4"><span class="fa fa-star star"></span></label>
                            <input type="radio" id="star-3" name="rating" value="3" class="review-form-rating-btn"
                                required>
                            <label for="star-3"><span class="fa fa-star star"></span></label>
                            <input type="radio" id="star-2" name="rating" value="2" class="review-form-rating-btn"
                                required>
                            <label for="star-2"><span class="fa fa-star star"></span></label>
                            <input type="radio" id="star-1" name="rating" value="1" class="review-form-rating-btn"
                                required>
                            <label for="star-1"><span class="fa fa-star star"></span></label>
                        </div>
                    </div>
                </div>
                {% for query in queries %}
                <div class="review-form-query flex-row">
                    <p>{{ query }}</p>
                    <input type="range" min="1" max="5" step="1" name="query: {{ query }}">
                </div>
                {% endfor %}
            </div>
            <button type="submit" value="submit" class="btn">Submit review</button>
        </form>
    </div>
</section>
<script src="{%static 'js/appInfoPage.js'%}"></script>
{% endblock %}