{%load static%}
<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="{%static 'navbar.css'%}" />
		<link rel="stylesheet" type="text/css" href="{%static 'footer.css'%}" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		/>
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>

		{%block headtag%} {%endblock%}
	</head>
	<body>
		<header class="header">
			<a href="#" class="logo"
				><img width="40" src="{% static 'logo.png' %}"
			/></a>
			<form style="display: flex; flex-direction: row;"class="formFields " action="{% url 'front_search' %}" method="GET">
					<input class="navSearch" type="text" placeholder="Search" name="search_query" />
					
  					<button class="navButton" type="submit">
					  <i class="fa fa-search"></i>
					</button>
				</form>
			<div class="menuToggle" onclick="toggle()" id="bars">
				<em class="fa fa-bars"></em>
			</div>
			
			<ul class="menu">
				
				<li><a href="{%url 'index'%}">Menu</a></li>
				<li><a href="#contact">Contact Us</a></li>
				{% if user.is_authenticated %}
				<li class="hello-msg">Hello, {{request.user}}</li>
				<!-- <span class="hello-msg">Hello, {{request.user}}</span> -->
				<li><a class="hello-msg" href="{% url 'logout' %}">Logout</a></li>

				{% else %}

				<li><a href="{% url 'signin' %}">Login</a></li>
				<li><a href="{% url 'signup' %}">Sign Up</a></li>
				{% endif %}
			</ul>
		</header>

		<section>
			<div class="Product Box">
				{%for app in search_results%}
				<div class="card1">
					<div class="side">
						<h3>{{app.play_store_genre}}</h3>
						<a href="{% url 'front_get_app' %}?app_name={{ app.app_name }}"
							><button>View Details</button></a
						>
					</div>
					<div class="app">
						<div class="middle">
							<h4>{{app.app_name}}</h4>
							<a href="{% url 'front_app_review' %}?app_name={{ app.app_name }}"
								><button>Review</button></a
							>
						</div>
						<div class="right">
							<img class="dot" src="{{app.icon_link}}" alt="app icon" />
						</div>
					</div>
				</div>
				{%endfor%}
			</div>
		</section>
		{%block content%} {%endblock%}
		<section>
			<footer id="mu-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="mu-footer-area">
								<div class="mu-footer-social">
									<a href="#"><span class="fa fa-facebook"></span></a>
									<a href="#"><span class="fa fa-twitter"></span></a>
									<a href="#"><span class="fa fa-google-plus"></span></a>
									<a href="#"><span class="fa fa-linkedin"></span></a>
									<a href="#"><span class="fa fa-youtube"></span></a>
								</div>
								<div class="mu-footer-copyright">
									<p>
										&copy; Copyright
										<a rel="nofollow" href="#">smartlocalguide.io</a>. All right
										reserved.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</section>
		<script type="text/javascript">
			window.addEventListener("scroll", function () {
				const header = document.querySelector("header");
				header.classList.toggle("sticky", window.scrollY > 0);
			});

			function toggle() {
				const menuToggle = document.querySelector(".menuToggle");
				const menu = document.querySelector(".menu");
				menuToggle.classList.toggle("active");
				menu.classList.toggle("active");
			}
		</script>
	</body>
</html>
