{%extends 'base.html'%} {%load static%} {%block headtag%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" />
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<link rel="stylesheet" type="text/css" href="{%static 'home.css'%}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
{%endblock%} {%block content%}

<section class="main" id="main">
	<div class="hero">

	</div>
</section>
<div class="counterup">
	<div class="counterContent">
		<div class="box">
			<div class="icon">
				<em class="fab fa-google-play"></em>
			</div>

			<div class="counter">{{counter.apps}}</div>
			<div class="textDes">No. of Apps Reviewed</div>
		</div>
		<div class="box">
			<div class="icon">
				<em class="fa fa-users"></em>
			</div>
			<div class="counter">{{counter.users}}</div>
			<div class="textDes">No. of Users</div>
		</div>
		<div class="box">
			<div class="icon">
				<em class="fa fa-eye"></em>
			</div>
			<div class="counter">{{counter.views}}</div>
			<div class="textDes">No. of Views</div>
		</div>
		<div class="box">
			<div class="icon">
				<em class="fa fa-star"></em>
			</div>
			<div class="counter">{{counter.reviews}}</div>
			<div class="textDes">No. of Reviews</div>
		</div>
	</div>
</div>
<section class="topApps" id="topApps">
	<div class="container">
		<div class="card">
			<div class="CardHeader">
				<div>
					<h1>TOP SERVICES IN </h1>
					<hr class="line" />
				</div>
				<div class="locationLogo">
					<input type="text" name="city" placeholder="Enter City" value="{{ location }}" />
				</div>
			</div>

			<div class="carousel" data-flickity='{ "groupCells": true }'>
				{% for genre, apps in best_apps.items %}
				<div class="carousel-cell">
					<h2 class="serviceType">{{ genre }}</h2>
					<hr />

					{% for app in apps %}
					<div class="cardService">
						<a href="{% url 'front_get_app' %}?app_id={{ app.app_id }} ">
							<img class="serviceImage" src="{{ app.icon_link }}" alt="app icon" />
						</a>
						<div class="serviceName top">
							<a href="{% url 'front_get_app' %}?app_id={{ app.app_id }} ">
								<p>{{ app.app_name }}</p>
							</a>
						</div>
					</div>
					{% endfor %}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="container">
		<div class="card">
			<div class="CardHeaderCon">
				<div class="headCon">
					<h1>CONTRIBUTORS</h1>
					<hr class="line" />
				</div>
			</div>
			<div class="carousel" data-flickity='{ "groupCells": true }'>
				<div class="carousel-cell usercell">
					{% for username, up_votes in top_3_users %}
					<div class="userCard topCard">
						<h1 class="userinfo">{{forloop.counter}}</h1>
						<p class="userinfo name">{{ username }}</p>
						<p class="userinfo">{{ up_votes }} pts</p>
					</div>
					{% endfor %}
				</div>
				<div class="carousel-cell usercell">
					{% for username, up_votes in mid_7_users %}
					<div class="userCard">
						<h1 class="userinfo2">{{ forloop.counter|add:"3" }}</h1>
						<p class="userinfo2 name">{{ username }}</p>
						<p class="userinfo2">{{ up_votes }} pts</p>
					</div>
					{% endfor %}
				</div>
				<div class="carousel-cell usercell">
					{% for username, up_votes in last_15_users %}
					<div class="userCard">
						<h1 class="userinfo3">{{ forloop.counter|add:"10" }}</h1>
						<p class="userinfo3 name">{{ username }}</p>
						<p class="userinfo3">{{ up_votes }} pts</p>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>

<section class="contact" id="contact">
	<div class="ContactUs">
		<div class="about left">
			<h1 style="color: black; margin-bottom: 20px">About Us</h1>
			<p class="aboutContent">
				As we have just started this site we do not have much information about all niche or special apps.
				If you have any recommendations feel free to paste their playstore links here and it will be
				automatically added, given it passes our basic checks.
			</p>
			<form class="Form" id="addAppForm">
				{% csrf_token %}
				<input class="applink" type="url" name="app_playstore_link" placeholder="Enter App Playstore Link" />
				<button class="formBtn1" type="submit" id="addAppButton">Add</button>
			</form>
		</div>
		<div class="formContact right">
			<h1 style="color: black; margin-bottom: 20px">Feedback</h1>
			<form class="Form" id="siteReviewForm">
				{% csrf_token %}
				<input type="text" name="user_name" placeholder="Name" />
				<input type="email" name="email_id" required placeholder="Email Address" />
				<textarea placeholder="Message" required name="content"></textarea>
				<button class="formBtn" type="submit" id="siteReviewButton">Send</button>
			</form>
		</div>
	</div>
</section>

<script type="text/javascript">

	function toggle() {
		const menuToggle = document.querySelector(".menuToggle");
		const menu = document.querySelector(".menu");
		menuToggle.classList.toggle("active");
		menu.classList.toggle("active");
	}

	function filter() {
		const arrowToggle = document.querySelector(".dropdown ul");
		arrowToggle.classList.toggle("activeFilter");
	}

	$(document).ready(function () {

		$(".dropdown ul li").click(function () {
			var text = $(this).text();
			$(".default_options").text(text);
		});

		$(".counter").counterUp({
			delay: 10,
			time: 1000,
		});

		$("#addAppForm").submit(() => {
			formData = $("#addAppForm").serializeArray();
			csrfmiddlewaretoken = formData[0]['value'];
			appLink = formData[1]['value'];
			appIdIdx = appLink.indexOf("id=");
			if (appIdIdx >= 0) {
				appId = appLink.slice(appIdIdx + 3);
				$("#addAppButton").prop('disabled', true);
				$("#addAppButton").html('Adding...');
				$.post("{% url 'api_add_new_app' %}", {
					'csrfmiddlewaretoken': csrfmiddlewaretoken,
					'app_id': appId,
				}).always((resData) => {
					alert((typeof resData == 'string') ? resData : resData.responseJSON);
					$("#addAppButton").html('Add');
					$("#addAppButton").prop('disabled', false);
				});
			} else {
				alert('Please Enter A Valid Playstore App Link')
			}
			return false;
		});

		$('#siteReviewForm').submit(() => {

			postData = {};
			$("#siteReviewForm").serializeArray().forEach((ele) => {
				postData[ele.name] = ele.value;
			});
			$("#siteReviewButton").prop('disabled', true);
			$("#siteReviewButton").html('Sending...');
			$.post("{% url 'api_slg_site_review' %}", postData)
				.always((resData) => {
					if (resData.status == 400) alert('Enter Valid Email Address');
					else alert('Thanks For Giving Us Your Time !!!');
					$("#siteReviewButton").html('Send');
					$("#siteReviewButton").prop('disabled', false);
				});
			return false;
		});
	});

</script>
{%endblock%}