<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../static/css/basePage.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/homePage.css" />
		<title>Smart Local Guide</title>
	</head>

	<body>
		<input type="checkbox" name="nav-check" id="nav-check">
		<label for="nav-check"><em class="fa fa-bars nav-icon"></em></label>
		<nav>
			<form action="#" method="get" class="nav-link">
				<em class="fa fa-search icon"></em>
				<input type="text" placeholder="Search" class="input">
			</form>
			<form action="#" method="get" class="nav-link">
				<em class="fa fa-map-pin icon"></em>
				<select name="state" id="stateSelect">
					<option value="">Select State</option>
				</select>
				<select name="city" id="citySelect">
					<option value="">Select City</option>
				</select>
			</form>
			<a href="#" class="nav-link"><em class="fa fa-home icon"></em><button>Home</button></a>
			<a href="#" class="nav-link"><em class="fa fa-sign-out icon"></em><button>Sign Out</button></a>
			<a href="#" class="nav-link"><em class="fa fa-sign-in icon"></em><button>Sign In</button></a>
			<a href="#" class="nav-link"><em class="fa fa-paper-plane icon"></em><button>Contact Us</button></a>
		</nav>
		<header>
			<h1 class="header-title">Hello, this is your own personal local guide.</h1>
			<div class="header-content">
				<div class="counter"><em class="fa fa-play counter-icon"></em><span>Apps</span>800</div>
				<div class="counter"><em class="fa fa-users counter-icon"></em><span>Users</span>10</div>
				<div class="counter"><em class="fa fa-eye counter-icon"></em><span>Visits</span>10</div>
				<div class="counter"><em class="fa fa-star counter-icon"></em><span>Reviews</span>20
				</div>
			</div>
		</header>
		<section>
			<h2 class="best-apps-title">Some Of Our Best Apps</h2>
			<div class="best-apps-content">
				<div class="best-apps-card">
					<h3 class="best-apps-card-title">Food</h3>
					<div class="best-apps-card-content">
						<a class="best-app" href="#">
							<img class="best-app-icon"
								src="https://play-lh.googleusercontent.com/q8hxnbpJCYfHipSOG_5tZe5jK_89T6QIsqrEklvGpMFKH8b98pDHJf2tPcn2bxEN96ON"
								alt="flipkart">
							<p>Flipkart</p>
							<p><em class="fa fa-star"></em>4.5</p>
							<p><em class="fa fa-pencil"></em>44</p>
						</a>
					</div>
				</div>
			</div>
		</section>
		<footer>
			<div class="social-links">
				<a href="#"><em class="fa fa-facebook icon"></em></a>
				<a href="#"><em class="fa fa-twitter icon"></em></a>
				<a href="#"><em class="fa fa-google-plus icon"></em></a>
				<a href="#"><em class="fa fa-linkedin icon"></em></a>
				<a href="#"><em class="fa fa-youtube icon"></em></a>
			</div>
			<p>
				&copy; Copyright
				<a rel="nofollow" href="#">smartlocalguide.io</a>. All right
				reserved.
			</p>
			<p>Mail issues at <a href="mailto:smartlocalguide@gmail.com" target="_blank"> smartlocalguide@gmail.com</a>
			</p>
			<a href='https://www.freepik.com/vectors/travel'>Travel vector created by pch.vector - www.freepik.com</a>
		</footer>
		<script src="../static/js/stateCityJSON.js"></script>
		<script src="../static/js/basePage.js"></script>
		<script src="../static/js/homePage.js"></script>
	</body>

</html>